<!DOCTYPE html>
<html>
	<head>
	<title>Love Life</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3&sensor=false&language=en"></script>
        <link rel="stylesheet" href="jquerymobile/jquery.mobile.theme-1.4.5.min.css" />
        <link rel="stylesheet" href="jquerymobile/jquery.mobile.icons-1.4.5.min.css" />
        <link rel="stylesheet" href="jquerymobile/jquery.mobile.structure-1.4.5.min.css" />
        <script src="../jQueryMobile/JS/jquery.js"></script>
        <script src="../jQueryMobile/JS/jquery.mobile-1.4.5.min.js"></script>
        <script  type="application/javascript" src="../medy/CSR_Mobile_Client.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
        <link rel="stylesheet" href="../medy/CSR_Style.css"/>
        <script type="application/javascript" src="javascripts/User.js"></script>

    <script>
      // page handler
      $(document).on('pagecontainershow', function(e, ui) {
          var pageId = $('body').pagecontainer('getActivePage').prop('id');
          //console.log(pageId);
          if(pageId == 'home_page'){
              console.log('On home page');
          }
          if(pageId == 'map_page'){
              console.log('On map page');
              navigator.geolocation.getCurrentPosition(locSuccess, locError);
          }
          if(pageId == 'direction_result'){
                console.log('On result page');

          }
          if(pageId == "movingService"){

          }
          if(pageId == 'serviceReport'){
              console.log('On report page');

          }
      });

    // MARK: UI Listener
    $(document).ready(function() {
        $('#FBLogin').tap(function(){

            var ref = new Firebase("https://teammedy.firebaseio.com");
            ref.authWithOAuthPopup("facebook", function(error, authData) {
                if (error) {
                    console.log("Login Failed!", error);
                } else {
                   // console.log("Authenticated successfully with payload:", authData);
                    var loginUser = new User("N/A",authData.uid,authData.token,authData.provider,getAuthName(authData));

                    handleSignInWithUserData(loginUser);
                }
            });
        })
    });


//    //TODO: delete this button after facebook login is working
//      $.("#onwardsBtn").tap(function(){
//        //progress to mapPage
//
//          #map_page
//      });

    </script>




</head>
<body>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1725591740989004',
            xfbml      : true,
            version    : 'v2.5'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div data-role="page" data-theme="a" id="sign_in">
    <div data-role="header" class="">
        LoveLife
    </div>
    <div data-role="content">
        <form method="post" action="demoform.asp">
            <label for="fname">First name:</label>
            <input type="text" name="fname" id="fname">
            <div class="ui-input-btn ui-btn ui-btn-inline">
                Facebook
                <input type="button" id="FBLogin" data-enhanced="true" value="Enhanced">
            </div>
            <div id="onwardsBtn" class="ui-input-btn ui-btn ui-btn-inline">
                <a href="#map_page"> Onwards!</a>
            </div>
        </form>
    </div>
    <div data-role="footer">
        <h4>hehe</h4>
    </div>
</div>


<!-- Starting of first page -->
<div data-role="page" data-theme="a"  id="home_page">
	<div data-role="header" class="DIYHeader" >
        <img src="media/images/logo.png" alt="平安车队"/>
	</div><!-- /header -->

	<div data-role="content">
        <h1>LoveLife</h1>
        <h1>P1</h1>
        <ul data-role="listview" data-inset="true">
            <li>  <a id="regularSelected" data-icon="arrow-r" data-iconpos="right" data-role="button" data-transition="slide" class="ui-corner-all ui-shadow ui_center_button" href="#map_page">Map Page</a></li>
            <li>  <a id="airPortServiceSelected" data-icon="arrow-r" data-iconpos="right" href="#airPortService" class="ui-corner-all ui-shadow ui_center_button" data-role="button">机场接送</a></li>
            <li>  <a data-icon="arrow-r" id="movingService_flip" data-iconpos="right" href="#movingService" class="ui-corner-all ui-shadow ui_center_button" data-role="button">搬家服务</a></li>
            <li>  <a data-icon="info" data-iconpos="right" href="#contactUs" class="ui-corner-all ui-shadow ui_center_button" data-role="button">联系我们</a></li>
            <li>  <a data-icon="star" data-iconpos="right" data-role="button"  data-transition="slide" rel="external" class="ui-corner-all ui-shadow ui_center_button" href="http://www.calgaryhuayuan.com">卡加华园</a></li>
        </ul>
    </div><!-- /content -->
    <div data-role="footer">
        <h4>hehe</h4>
    </div>
</div><!-- /page -->
<!-- end of first page -->

<!-- Starting of movingService page -->
<div data-role="page"  id = "movingService">

    <div data-role="header"  class="DIYHeader" >
        <img src="media/images/logo.png" alt="平安车队"/>
        <a data-icon="arrow-l"  class="topButton" data-rel="back" >后退</a>
    </div>

    <div data-role="content">

        <fieldset data-role="controlgroup" id="movingPeopleNumber">
            <legend>请选择需要搬家人数:</legend>
            <input type="radio" name="radio-choice-1" id="radio-choice-1" value="1" checked="checked">
            <label for="radio-choice-1">1人 (50 $/次)</label>
            <input type="radio" name="radio-choice-1" id="radio-choice-2" value="2">
            <label for="radio-choice-2">2人 (80 $/次)</label>
        </fieldset>

        <div data-role="fieldcontain">
            <label for="customerPhoneMoving">联系电话：</label>
            <input id="customerPhoneMoving" data-clear-btn="true" type="tel" value >
        </div>

        <div data-role="fieldcontain">
            <label for="datetimepickerMoving">搬家时间</label>
            <input readonly="readonly" id="datetimepickerMoving" type="text" value >
        </div>

        <a data-role="button" id="getMovingServiceReport"  href="#serviceReport">下一步</a> <!-- onClick="ajax.send()" -->
    </div><!-- /content -->


    <div data-role="popup" id="serviceReportMovingIncomplete" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="max-width:400px;" class="ui-corner-all">
        <div data-role="header" data-theme="a" class="ui-corner-top">
            <h1>抱歉!</h1>
        </div>
        <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
            <h3 class="ui-title">请输入出发时间和联系电话 :)</h3>
            <a href="#map_page" data-role="button" data-rel="back" data-inline="true" data-transition="fade" data-theme="c">知道了!</a>
        </div>
    </div>

</div><!-- /page -->
<!-- end of movingService page -->

<!-- Starting of second page -->
<div data-role="page"  id = "airPortService">

    <div data-role="header"  class="DIYHeader" >
        <img src="media/images/logo.png" alt="平安车队"/>
        <a data-icon="arrow-l"  class="topButton" data-rel="back" >后退</a>
    </div>

	<div data-role="content">
        <div class="ui-grid-a">
            <div class="ui-block-a"><a id="pickUpSelected" data-icon="arrow-r" data-iconpos="right" href="#map_page" class="ui-corner-all ui-shadow ui_center_button" data-role="button">接机服务</a></div>
            <div class="ui-block-b"><a id="dropOffSelected" data-icon="arrow-r" data-iconpos="right" href="#map_page" class="ui-corner-all ui-shadow ui_center_button" data-role="button">送机服务</a></div>
        </div><!-- /grid-a -->


	</div><!-- /content -->


</div><!-- /page -->
<!-- end of second page -->


<!-- Starting of second page -->
<div data-role="page"  id = "contactUs">

    <div data-role="header"  class="DIYHeader" >
        <img src="media/images/logo.png" alt="平安车队"/>
        <a data-icon="arrow-l"  class="topButton" data-rel="back" >后退</a>
    </div>

    <div data-role="content">
        <h2>请选择联系我们的方式： </h2>
        <a data-role="button" href="tel:+15874373803">电话联系我们.</a>
        <a data-role="button" data-rel="popup" href="#emailUs_popup" id="emailUs_flip">Email我们.</a>
    </div><!-- /content -->

    <div data-role="popup" id="emailUs_popup" data-overlay-theme="a" data-theme="c" style="max-width:400px;" class="ui-corner-all">
        <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
        <div data-role="header" data-theme="a" class="ui-corner-top">
            <h1>邮件联系我们!</h1>
        </div>




        <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
            <h3 class="ui-title">邮件内容：</h3>
            <label for="contactUs_email">您的邮箱地址：</label>
            <input name="contactUs_email" id="contactUs_email" type="email"> </input>
            <textarea name="emailUs" id="emailUs-content" rows = "8" > </textarea>
            <button id="confirm_contact" onclick="ajaxEmail.send()"  class=" ui-btn ui-shadow ui-corner-all">发送</button>
        </div>
    </div>

</div><!-- /page -->
<!-- end of second page -->




<!-- start of map page -->
<!--
<div data-role="page" id="map-page" data-url="map-page">
			    <div data-role="header" data-theme="a">
			    <h1>Maps</h1>
			    </div>
			    <div role="main" class="ui-content" id="map-canvas">

			    </div>
</div>-->
<div data-role="page" data-theme="a" id="map_page" >
    <div data-role="header"  class="DIYHeader"  >
        <img src="media/images/logo.png" alt="平安车队"/>
        <a data-icon="arrow-l"  class="topButton" data-rel="back" >后退</a>
    </div>
    <div data-role="content">


        <div class="ui-shadow ui-corner-all ui_pageContent" style="">
                        <div data-role="fieldcontain">
                        <div id="map_init" class="ui_map"></div> <!-- Where the data is loaded -->


                        <div data-role="fieldcontain">
                            <div class="ui-corner-all">
                                <div class="ui-bar ui-bar-b">
                                    <h3>出发地:</h3>
                                </div>
                                <div class="ui-body ui-body-b">
                                    <div data-role="fieldcontain" id="use_origin_field">
                                        <label for="use_origin">使用您的位置:</label>
                                        <select name="use_origin" data-theme="a" id="use_origin" data-role="slider">
                                            <option value="off">Off</option>
                                            <option value="on">On</option>
                                        </select>
                                    </div>
                                    <div id="origin_container">
                                        <label for="target-origin">出发地地址:</label>
                                        <input data-clear-btn="true" type="text" placeholder="地址，城市" id="target-origin" value=""/>
                                    </div>
                                </div>
                            </div>


                            <!-- Deprecated

                            <label for="use_origin">使用您的位置:</label>
                            <select name="use_origin" id="use_origin" data-role="slider">
                                <option value="off">Off</option>
                                <option value="on">On</option>
                            </select>-->
                        </div>
                        <!--<input type="checkbox" name="useCurrentLocation" class="ui-btn-inline" id="useCurrentLocation" checked="checked" />
                        <label class="inline" for="useCurrentLocation" >已使用您所在的位置</label>-->
                       <!-- destionation section -->
                        <div data-role="fieldcontain">
                            <div class="ui-corner-all">
                                <div class="ui-bar ui-bar-b">
                                    <h3>目的地:</h3>
                                </div>
                                <div class="ui-body ui-body-b">
                                    <div data-role="fieldcontain">
                                        <label for="target-dest">目的地地址:</label>
                                        <input type="text" data-clear-btn="true" placeholder="地址，城市" id="target-dest" value=""/>
                                    </div>

                                    <div class="ui-grid-a">
                                        <div class="ui-block-a"><a href="#" class="centeringThis" data-role="button" data-mini="true"   id="dest_chinook" >Chinook</a></div>
                                        <div class="ui-block-b"><a href="#" class="centeringThis" data-role="button" data-mini="true"   id="dest_crossIron">CrossIron</a></div>
                                    </div><!-- /grid-a -->
                                    <div class="ui-grid-a">
                                        <div class="ui-block-a"><a href="#" class="centeringThis" data-role="button" data-mini="true"   id="dest_newTNT">大统华（北）</a></div>
                                        <div class="ui-block-b"><a href="#" class="centeringThis" data-role="button" data-mini="true"   id="dest_oldTNT">大统华（东）</a></div>
                                    </div>

                                </div>
                            </div>
                        </div> <!-- END of field contain -->


                        <!-- <div data-role="fieldcontain">
                           <label for="mode" class="select">Transportation method:</label>
                           <select name="select-choice-0" id="mode">
                                <option value="DRIVING">驾车</option>
                                <option value="WALKING">Walking</option>
                                <option value="BICYCLING">Bicycling</option>
                            </select>
                        </div>-->
                        </div><!--  END of outer fieldcontain-->
            <a   data-icon="search" data-iconpos="top" data-role="button" class="ui-corner-all ui-disabled" data-transition="slide" href="#direction_result" id="get_directions" >计算路程</a>
        </div>
        <div data-role="popup" id="addressEmpty" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="max-width:400px;" class="ui-corner-all">
            <div data-role="header" data-theme="a" class="ui-corner-top">
                <h1>抱歉!</h1>
            </div>
            <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
                <h3 class="ui-title">请输入出发地和目的地。</h3>
                <div class="ui-grid-a">
                    <div class="ui-block-b"><a href="#map_page" data-icon="check" data-iconpos="right" data-role="button"  data-transition="slide" data-theme="c">好的</a></div>
                </div>
            </div>
        </div>
    </div> <!-- END of content  -->

</div>
<!-- end of map page -->

<!-- start of result page -->
<div id='direction_result' data-theme="a" data-role="page">
    <div data-role="header"   class="DIYHeader">
        <a data-icon="arrow-l"  class="topButton" data-rel="back">后退</a>
        <img src="media/images/logo.png" alt="平安车队"/>
    </div>

    <div data-role="content">
        <div id="map_result" class="ui_map"></div> <!-- Where the result data is loaded -->
       <!-- <div data-role="fieldcontain">
            <label for="finalDistance">总共路程(来自Google)：</label>
            <input type="text" name="finalDistance" id="finalDistance" value="" data-mini="true" />
        </div> -->

        <div data-role="popup" id="getDirectionFail" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="max-width:400px;" class="ui-corner-all">
            <div data-role="header" data-theme="a" class="ui-corner-top">
                <h1>抱歉!</h1>
            </div>
            <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
                <h3 class="ui-title">无法找到可循路线</h3>
                <div class="ui-grid-a">
                    <div class="ui-block-a"><a href="#home_page" data-icon="home" data-iconpos="right" data-role="button" data-transition="fade" data-theme="b">首页</a></div>
                    <div class="ui-block-b"><a href="#map_page" data-icon="check" data-iconpos="right" data-role="button"  data-transition="fade" data-theme="c">重试</a></div>
                </div>
            </div>
        </div>

        <div data-role="popup" id="serviceReportIncomplete" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="max-width:400px;" class="ui-corner-all">
            <div data-role="header" data-theme="a" class="ui-corner-top">
                <h1>抱歉!</h1>
            </div>
            <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
                <h3 class="ui-title">请输入出发时间和联系电话 :)</h3>
                <a href="#map_page" data-role="button" data-rel="back" data-inline="true" data-transition="fade" data-theme="c">好的!</a>
            </div>
        </div>



        <div data-role="fieldcontain">
            <div class="ui-corner-all">
                <div class="ui-bar ui-bar-b">
                    <h3>联系方式和时间</h3>
                </div>
                <div class="ui-body ui-body-b">
                    <label for="customerPhone">联系电话：</label>
                    <input id="customerPhone" data-clear-btn="true" type="tel" value >
                    <label for="datetimepicker">出发时间:</label>
                    <input readonly="readonly" id="datetimepicker" type="text" value >
                </div>
            </div>
        </div> <!-- END inner field contain -->

        <div data-role="fieldcontain">
            <div class="ui-corner-all">
                <div class="ui-bar ui-bar-b">
                    <h3>车型选择</h3>
                </div>
                <div class="ui-body ui-body-b">
                    <fieldset data-role="controlgroup" data-theme="a" id="vehicleTypeField" data-type="horizontal">
                        <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2a" value="car" checked="checked">
                        <label for="radio-choice-h-2a">轿车</label>
                        <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2b" value="suv">
                        <label for="radio-choice-h-2b">SUV</label>
                        <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2c" value="van">
                        <label for="radio-choice-h-2c">VAN</label>
                    </fieldset>
                </div>
            </div>
        </div>  <!-- END inner field contain -->

        <!---<div data-role="fieldcontain">
            <label for="customerPhone">联系电话：</label>
            <input id="customerPhone" data-clear-btn="true" type="tel" value >
        </div>

        <div data-role="fieldcontain">
            <label for="datetimepicker">出发时间</label>
            <input readonly="readonly" id="datetimepicker" type="text" value >
        </div>-->

        <!-- 车型 -->
        <!--<div data-role="fieldcontain">
        <fieldset data-role="controlgroup" id="vehicleTypeField" data-type="horizontal">
            <legend>车型:</legend>
            <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2a" value="car" checked="checked">
            <label for="radio-choice-h-2a">轿车</label>
            <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2b" value="suv">
            <label for="radio-choice-h-2b">SUV</label>
            <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2c" value="van">
            <label for="radio-choice-h-2c">VAN</label>
        </fieldset>
        </div> -->
        <a data-role="button" data-icon="next" data-iconpos="top" id="getServiceReport" data-transition="slide" href="#serviceReport">下一步</a> <!-- onClick="ajax.send()" -->
    </div>

</div>
<!-- END of result page -->

<!-- start of result page -->
<div id='serviceReport' data-theme="a" data-role="page">
    <div data-role="header"   class="DIYHeader">
        <a data-icon="arrow-l"  class="topButton" data-rel="back">后退</a>
        <img src="media/images/logo.png" alt="平安车队"/>
    </div>
    <div data-role="content">

        <label for="serviceFinalReport">服务清单：</label>
        <textarea name="" id="serviceFinalReport" rows = "8" > </textarea>
        <button id="confirm" onclick="ajax.send(serviceRequest)"  class=" ui-btn ui-shadow ui-corner-all">确认订车</button>
    </div>

    <div data-role="popup" id="sendServiceDone" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="max-width:400px;" class="ui-corner-all">
        <div data-role="header" data-theme="a" class="ui-corner-top">
            <h1>感谢使用平安车队订车服务!</h1>
        </div>
        <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
            <h3 class="ui-title">用车订单已提交，工作人员会尽快与您电话确认用车细节。</h3>
            <div class="ui-grid-a">
                <div class="ui-block-a"><a data-icon="home" data-iconpos="right" href="#home_page" data-role="button"  data-transition="slide" data-theme="c">首页</a></div>
                <div class="ui-block-b"> <a data-icon="star" data-iconpos="right"  data-role="button"  data-transition="slide" rel="external" class="ui-corner-all ui-shadow ui_center_button" href="http://www.calgaryhuayuan.com">华园网</a></div>
            </div><!-- /grid-a -->
        </div>
    </div>

    <div data-role="popup" id="sendServiceFail" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="max-width:400px;" class="ui-corner-all">
        <div data-role="header" data-theme="a" class="ui-corner-top">
            <h1>抱歉无法发送订车服务!</h1>
        </div>
        <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
            <h3 class="ui-title">请联系电话:587-437-3803,我们为任何与您带来的不便感到抱歉。</h3>
            <div class="ui-grid-a">
                <div class="ui-block-a"><a data-icon="home" data-iconpos="right" href="#home_page" data-role="button"  data-transition="slide" data-theme="c">首页</a></div>
                <div class="ui-block-b"> <a data-icon="star" data-iconpos="right" data-role="button"  data-transition="slide" rel="external" class="ui-corner-all ui-shadow ui_center_button" href="http://www.calgaryhuayuan.com">华园网</a></div>
            </div><!-- /grid-a -->
        </div>
    </div>

</div>
<!-- END of result page -->

</body>
</html>
