<!DOCTYPE html>
<html>
	<head>
	<title>Love Life</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!--<link rel="stylesheet" href="jQueryMobile/jquery.mobile.theme-1.4.5.min.css" />
        <link rel="stylesheet" href="jQueryMobile/jquery.mobile.icons-1.4.5.min.css" />
        <link rel="stylesheet" href="jQueryMobile/jquery.mobile.structure-1.4.5.min.css" />-->
        <link rel="stylesheet" href="jQueryMobile/jquery.mobile-1.4.5.min.css" />
        <link rel="stylesheet" href="themes/Calgary.min.css" />
        <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
        <script src="../jQueryMobile/JS/jquery.js"></script>
        <script src="../jQueryMobile/JS/jquery.mobile-1.4.5.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
        <script  type="application/javascript" src="../medy/CSR_Mobile_Client.js"></script>
        <script defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFWfin5Nb58brp51h4kxGcgkIONvionlU&libraries=geometry&callback=initMap">
        </script>

        <script  type="application/javascript" src="../medy/getLandmarks.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
        <link rel="stylesheet" href="../medy/CSR_Style.css"/>
        <script type="application/javascript" src="javascripts/User.js"></script>
</head>
<body>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1725591740989004',
            xfbml      : true,
            version    : 'v2.5'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div data-role="page" data-theme="a" id="login">
    <div data-role="header" class="">
        <h4>LoveLife</h4>
    </div>
    <div data-role="content">
            <div style="padding:10px 20px;">
                <h3>Please sign in</h3>
                <label for="un_login" class="ui-hidden-accessible">Username:</label>
                <input type="text" name="user" id="un_login" value="" placeholder="username" data-theme="a">
                    <label for="pw_login" class="ui-hidden-accessible">Password:</label>
                    <input type="password" name="pass" id="pw_login" value="" placeholder="password" data-theme="a">
                <div class="ui-grid-a">
                    <div class="ui-block-a"><a data-transition="slide" class="ui-btn ui-corner-all ui-shadow ui-btn-icon-left ui-icon-plus" href="#sign_up">Sign Up</a></div>
                    <!--<div class="ui-block-a"><button type="submit" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-myicon">Facebook Sign In</button></div>-->
                    <div class="ui-block-b"><button id="login_btn" class="ui-btn ui-corner-all ui-shadow ui-btn-icon-left ui-icon-check">Sign In</button></div>
                </div>
                <button style="" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-myicon FBLogin"  href="#">Facebook Login</button>

            </div>
    </div>
</div>
<div data-role="page" data-theme="a" id="sign_up">
    <div data-role="header" class="">
        <a data-icon="arrow-l" data-rel="back" >Back</a>
        <h4>Sign Up</h4>
    </div>
    <div data-role="content">
        <div style="padding:10px 20px;">
            <label for="un_signup" class="ui-hidden-accessible">Username:</label>
            <input type="text" name="user" id="un_signup" value="" placeholder="username" data-theme="a">
            <label for="un_signup" class="ui-hidden-accessible">Password:</label>
            <input type="password" name="pass" id="pw_signup" value="" placeholder="password" data-theme="a">
                <!--<div class="ui-block-a"><button type="submit" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-myicon">Facebook Sign In</button></div>-->
            <button id="signUp_confirm_btn" class="ui-btn ui-corner-all ui-shadow ui-btn-icon-left ui-icon-check">Confirm</button>
            <button style="" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-myicon FBLogin"  href="#">Facebook Login</button>
        </div>
    </div>
</div>

<!-- nearby page -->
<div id='nearby' data-theme="a" data-role="page">
    <div data-role="header" data-display="overlay" data-position="left" class="DIYHeader">
        <h3>Nearby</h3>
    </div>

    <div data-role="content" align="center">

        <div id="map" class="ui_map"></div> <!-- Where the data is loaded -->

    </div>
    <div id="testing" data-role="footer" class="ui-corner-all ui-shadow">
        <div data-role="navbar">
            <ul>
                <li><a href="#discover" data-icon="grid">Discover</a></li>
                <li><a id="refreshNearby" href="#" data-icon="search" class="ui-btn-active ui-state-persist">Search</a></li>
                <li><a href="#profile" data-icon="user">Profile</a></li>
            </ul>
        </div><!-- /navbar -->
    </div><!-- /footer -->
</div>
<!-- END of nearby page -->

<!--profile page -->
<div data-role="page" id="profile">

    <div data-role="content">

        <div style=" text-align:center" data-controltype="image" id="user_photo">
            <img id="profileImage" class="image-border" style="width: 100px; height: 100px" src="">
            <div class="profileName"> <h3></h3></div>
        </div>
        <h4 style="margin-bottom:-10px;">History</h4>
        <ul data-role="listview" id="history_list" data-inset="true">
        </ul>
        <div class="ui-grid-solo ui-btn-inline" style="    position: absolute;
    top: 0px;
    left: 0.5em;">
                <button id="logout">Log out</button>
        </div>

        <!--<div class="ui-corner-all custom-corners">
            <div class="ui-bar ui-bar-a">
                <h2>History</h2>
                <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
                <a class="ui-btn-right ui-btntext-small ui-btn-icon-notext" data-role="button" data-icon="arrow-r" data-iconpos="right" style="height: 8px" data-position="right" data-inline="true" href="#page4"></a>
            </div>

            <div class="ui-body ui-body-a">
                <ul data-role="listview" data-divider-theme="b" data-inset="true">
                    <li data-theme="c"><a href="" data-transition="slide">Button</a></li>
                    <li data-theme="c"><a href="#page2" data-transition="slide">Button</a></li>
                    <li data-theme="c"><a href="#page2" data-transition="slide">Button</a></li>
                </ul>
            </div>
        </div>-->

    </div>

    <div data-role="footer" class="ui-corner-all ui-shadow">
        <div data-role="navbar">
            <ul>
                <li><a href="#discover" data-icon="grid">Discover</a></li>
                <li><a href="#nearby" data-icon="search">Search</a></li>
                <li><a href="#profile" data-icon="user" class="ui-btn-active ui-state-persist">Profile</a></li>
            </ul>
        </div><!-- /navbar -->
    </div><!-- /footer -->
</div>
<!--END of profile page -->

<!-- discover page -->
<div id='discover' data-theme="a" data-role="page" >
    <div data-theme="a" data-role="header">
        <h3>Favourite</h3>
    </div>

    <div data-role="content">
        <div class="ui-corner-all custom-corners">
            <div class="ui-bar ui-bar-a">
                <h2>Favorites</h2>
                <!--<a class="ui-btn-right ui-btntext-small" onclick="mapAllFavourites(current_user.auth.uid)" data-role="button" data-icon="arrow-r" style="height: 8px" data-iconpos="right" data-position="right" data-inline="true" href="#page4">Show All</a>-->
            </div>

                <ul data-role="listview" id="favourites-listview" class="listview" data-divider-theme="b" data-inset="true" >
                </ul>
        </div>

        <!--<a href="#positionWindow" data-rel="popup" data-role="button" data-position-to="window" data-transition="flip" class="landmarkPopUpBtn">Popup</a>-->

    </div>

    <div data-role="footer" class="ui-corner-all ui-shadow">
        <div data-role="navbar">
            <ul>
                <li><a href="#discover" data-icon="grid" class="ui-btn-active ui-state-persist">Discover</a></li>
                <li><a href="#nearby" data-icon="search">Search</a></li>
                <li><a href="#profile" data-icon="user">Profile</a></li>
            </ul>
        </div><!-- /navbar -->
    </div><!-- /footer -->
</div>
<!-- END of discover page -->

<!-- mdb page -->
<div id='mdb' data-theme="a" data-role="page"></div>

<!-- Start: Landmark Detail View -->

<!-- End: Landmark Detail View -->

<!--END of profile page-->

    <!-- This popup has its theme explicitly defined via data-theme="a"
         because it has no parent from which to automatically inherit
         its theme -->
    <!-- START: Working with Popup -->
<div data-role="popup" id="positionWindow" class="ui-content" data-theme="b"  data-dismissible="true" style="min-width: 260px !important;">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
    <div id="favouriteToggleDiv" data-role="header" data-theme="a">
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" style="float:right; margin:1px; width:60px;">    
            <input type="checkbox" name="checkbox-favourite" id="checkbox-favourite">
                <label style="font-size: 32px; padding: 0px 10px;" for="checkbox-favourite">♡</label>
        </fieldset>
        <p style="min-height: 40px; font-size: 14px; padding: 5px 70px 0 3px;" id="feature_name">Landmark XXX</p>
    </div>
    <div id="description_block">
        <div id="satelliteMap" class="ui_map"></div>
        <!--<img src="images/glenmorePark.jpg"  height="200" width="313"/> -->
        <button id="directionsBtn" data-mini="true" data-inline="true" data-role="button" data-theme="a" data-icon="delete" class="ui-btn ui-btn-inline ui-icon-navigation ui-btn-icon-left ui-mini ui-btn-a"> Directions </button>
        <p id="feature_distance">Distance: 4 km</p>
        <p id="feature_ETA">ETA: 25 minutes</p>
        <button id="leave_comment" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-edit ui-btn-icon-notext " style="float:right;"></button>
        <p id="feature_comment">Comments: </p>
    </div>
    <div id="comment_block" style="display:none;">
        <label for="comment"><h4 style="margin-bottom:3px !important;">Please leave a review:</h4></label>
        <input type="text" name="pass" id="comment" value="" placeholder="review..." data-theme="a">
        <div class="ui-grid-a">
            <div class="ui-block-a"><button id="comment_cancel" data-theme="a">Cancel</button></div>
            <!--<div class="ui-block-a"><button type="submit" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-myicon">Facebook Sign In</button></div>-->
            <div class="ui-block-b"><button id="comment_submit" data-theme="a">Submit</button></div>
        </div>
    </div>
</div>
<!-- END: Working with Popup -->
<script type="application/javascript" src="../javascripts/UI.js"></script>
</body>
</html>
